.container-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container-search input {
  width: calc(500px - 20px);
  margin-bottom: 2px;
  border: none;
  padding: 10px;
  background-color: lightgray;
}

.container-search input:focus {
  outline: none;
}

.container-search button {
  width: 500px;
  margin-bottom: 2px;
  border: none;
  padding: 10px;
  background-color: black;
  color: white;
  transition: ease-in-out 0.2s;
  text-align: start;
}

.container-search button:hover {
  background-color: red;
  cursor: pointer;
}
