.card {
    background-color: black;
    height: 50%;
    width: 80%;
    border: 10px solid blueviolet;
    margin: 5%;
    font-weight: bold;
    color: white;
    padding: 2%;
}

.card img {
    height: 40%;
}

.card div a {
    color: teal;
}