.App {
  text-align: center;
  background-color: black;
  border: .5rem inset rgb(4, 47, 240)
}
.follower-card {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-left: 4rem;
}
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 300px;
  perspective: 1000px;
  
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
 
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgb(25, 223, 18);
  color: black; 
  border-radius: 50%;
}
/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  border-radius: 50%;
}
/*follower image */
.flip-card-front img{
  border-radius: 50%;
}