.App {
  display: flex;
}

.friendsContainer{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  margin: 10px;

}
 
.friend{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 10 px;
  width: 30%;
  margin: 10px;
}
/* 
.friend img {
  border-radius: 50%;
  border: 1px solid black;
  margin: 10px;
  box-shadow: 3px 3px 3px 0 rgb(19, 31, 29);
} */