.App {
  margin: 0 auto;
  padding: 2ch;
  border: solid black 2px;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.userContainer {
  width: 300px;
  border: solid red inset 4px;
  background-color: #f4f4f4;
}
