.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #a0c4ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffc6ffd5;
  width: 100%;
}
h1 {
  margin: 0;
}
form {
  padding: 1% 0%;
  width: 30rem;
}
input {
  padding: 1%;
}
button {
  background-color: #bdb2ff;
  color: #ffc6ffec;
  padding: 1%;
  transition: 0.4s;
}
button:hover {
  background-color: #caffbf;
}
